{% extends "layout.html" %} {% block content %}
<div class="row">
  {% for game in games %}
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="game" style="width: 18rem">
      <div class="card border-info mb-3" style="max-width: 18rem">
        <div class="card-header">{{game.title}}</div>
        <div class="card-body">
          <p class="card-players">
            Players: {{game.accepted_players}} / {{game.max_players}}
          </p>
          <p class="card-text">{{game.description}}</p>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#gameModal"
            data-game-id="{{game.id}}"
          >
            Details
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="gameModal"
  tabindex="-1"
  aria-labelledby="gameModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="gameModalLabel">
          {{game_data.title}}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{{game_data.description}}</div>
      <div class="modal-footer">
        <form action="/apply_for_game/" method="get">
          <button
            type="submit"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Apply
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
