{% extends "layout.html" %} {% block content %} {%for game in games%}
<div class="gmae" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{game.title}}</h5>
    <p class="card-players">Max. players{{game.players}}</p>
    <p class="card-text">{{game.description}}</p>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      href="game_page.html"
      data-bs-target="#gameModal"
    >
      Szczegóły
    </button>
  </div>
</div>
{%endfor%} {% endblock %}
