{% extends "layout.html" %} {% block content %} {%for game in games%}
<div class="gmae" style="width: 18rem">
  <img src="..." class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{game.title}}</h5>
    <p class="card-players">Max. players{{game.players}}</p>
    <p class="card-text">{{game.description}}</p>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#gameModal"
    >
      Launch demo modal
    </button>
    {%endfor%}

    <!-- Modal -->
    <div
      class="modal fade"
      id="gameModal"
      tabindex="-1"
      aria-labelledby="gameModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="gameModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
