{% extends "layout.html" %} {% block title %} Post Game {% endblock %} {% block
content %}
<form action="/post_game" method="post">
  <div class="form-group">
    <label for="game_name">Game Name</label>
    <input
      type="text"
      class="form-control"
      id="game_name"
      name="title"
      placeholder="Enter game name"
      required
    />
  </div>
  <div class="form-group">
    <label for="game_system">Game System</label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="system"
      required
    >
      {% for system in systems %}
      <option selected>Wybierz system TTRPG</option>
      <option value="{{system.id}}">{{system.title}}</option>
      {% endfor%}
    </select>
  </div>
  <div class="form-group">
    <label for="player_number">Number of players</label>
    <input
      type="number"
      class="form-control"
      id="player_number"
      name="players"
      placeholder="Enter number of players"
      required
    />
  </div>
  <div class="form-group">
    <label for="game_description">Game Description</label>
    <textarea
      class="form-control"
      id="game_description"
      name="description"
      rows="3"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
